html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 135px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position:fixed;
    bottom: 30px;
    right: calc(70% - 45px);
}


#camera--trigger{

    width: 135px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position:fixed;
    bottom: 30px;
    right: calc(70% - 45px);

   
}

/*#my_file {
    display: none;
}*/




#triggerProcesar{
    width: 135px;
    background-color: black;
    color: white;
    display:inline-block;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position:fixed;
    bottom: 30px;
    left: calc(85% - 100px);
 
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}




